<div class="mt-4">
    <form method="POST" action="" >
        <div class="form-group">
            <label for="search-input"> Từ Khoá</label>
            <input type="text" name="q" class="form-control" placeholder="Nhập từ khoá" >
        </div>
        <div class="form-group">
            <label for="select-input"> Giới Tính</label>
            <select name="gender" id="gender-input" class="form-control">
                <option value="">--Giới tính--</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Tìm kiếm</button>
    </form>
</div>